<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>helloSevlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 컨텍스트 초기화 매개변수 -->
	<context-param>
		<param-name>INIT_PARAM</param-name>
		<param-value>web.xml에 저장한 초기화 매개변수</param-value>
	</context-param>

	<!-- DB 접속정보 설정정보를 외부 파일로 저장 -->
	<context-param>
		<param-name>OracleDriver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>

	<context-param>
		<param-name>OracleUrl</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
	</context-param>

	<context-param>
		<param-name>OracleId</param-name>
		<param-value>jsp</param-value>
	</context-param>

	<context-param>
		<param-name>OravlePW</param-name>
		<param-value>1234</param-value>
	</context-param>

	<!-- 에러페이지 처리하기 -->
	<error-page>
		<error-code>404</error-code>
		<location>/내장객체/Exception.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/내장객체/Exception.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/내장객체/Exception.jsp</location>
	</error-page>

	<resource-ref>
		<description>Oracle Datasource example</description>
		<res-ref-name>jdbc/myoracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- 세션 유지시간을 분단위로 설정 -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<!-- 필터를 활용한 인코딩 설정 -->
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 서블릿 등록 -->
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>servlet.HelloServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/13서블릿/HelloServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- MemberAuth 등록 -->
	<servlet>
		<servlet-name>MemberAuth</servlet-name>
		<servlet-class>servlet.MemberAuth</servlet-class>
		<init-param>
			<param-name>admin_id</param-name>
			<param-value>test</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MemberAuth</servlet-name>
		<url-pattern>/13서블릿/MemberAuth.mvc</url-pattern>
	</servlet-mapping>
	
	<!-- 게시판 리스트 조회 -->
	<servlet>
		<servlet-name>MVCBoardList</servlet-name>
		<servlet-class>model2.mvcboard.ListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCBoardList</servlet-name>
		<url-pattern>/mvcboard/list.do</url-pattern>
	</servlet-mapping>
	
	<!-- 글쓰기 페이지로 이동 -->
	<servlet>
		<servlet-name>WriteController</servlet-name>
		<servlet-class>model2.mvcboard.WriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteController</servlet-name>
		<url-pattern>/mvcboard/write.do</url-pattern>
	</servlet-mapping>
</web-app>